[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "==1.3.0"
gunicorn = "*"
requests = "*"
xgboost = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.11"
